<div class="container-fluid">
<h1>Dobro dosli na sajt MovieMania!</h1>
<img src="../../../assets/images/cover.jpg" width="100%">
<h4><i><b>MovieMania</b></i> je sajt za evidenciju filmova. Na njemu mozete dobiti sve potrebne informacije o filmu koji vas interesuje, kao sto su rejting, duzina trajanja, reziser, zanr, kratak rezime... Takodje, imate mogucnost da i sami budete deo ovog sajta dodavajuci informacije o filmu koji nismo pogledali.</h4>
<br>
<h4 class="center">Hvala na poseti!</h4>
<h2>Vas MovieMania-tim!</h2>
</div>
